{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>{{ article.titre }}</h1>
    <div class="row">
        <div class="col-md">
            <p class="jumbotron">
				{{ article.description }}
            </p>
        </div>
        <div class="col-md">
            <p>
                <i class="small">Crée le {{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }} par {{ article.createBy.username|upper }}</i><br>
                <i class="small">Dernière mise à jour {{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '' }}</i>
            </p>
        </div>
    </div>
    <a href="{{ path('article_index') }}">Retour à la liste</a>
{% endblock %}
