<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
	<h5 class="my-0 mr-md-auto font-weight-normal">Symfony Blog {% if app.user %} - {{ app.user.username }}{% endif %}</h5>
	<nav class="my-2 my-md-0 mr-md-3">
		<a class="badge badge-success p-2 text-dark" href="{{ path('article_new') }}">Créer un article</a>
		<a class="badge badge-success p-2 text-dark" href="{{ path('user_new') }}">Créer un utilisateur</a>
		{% if app.user %}
			<a class="badge badge-primary p-2 text-dark" href="{{ path('app_logout') }}">Se déconnecter</a>
		{% else %}
			<a class="badge badge-primary p-2 text-dark" href="{{ path('app_login') }}">Login</a>
		{% endif %}
	</nav>
</div>